 .food-menu-area {
    padding-bottom: 80px;
     .site-heading {

     }
}
.food-menu-content {
    .mix-food-menu {
        border-top: 1px solid #E7E7E7;
        border-bottom: 1px solid #E7E7E7;
        margin-bottom: 40px;
      
       button {
        border: none;
        background: none;
        padding: 18px 0px 18px 18px;
        font-weight: 600;
        text-transform: uppercase;
        color: $color-dim-gray;
        outline: none;
        &.active {
            color: #e7272d;
            position: relative;
            z-index: 1;
            &::after {
                content: "";
                position: absolute;
                width: 30px;
                height: 2px;
                background: $color-alizarin;
                top: 59px;
                right: 0px;
            }
        }
        
       }
   }
}
.food-item-menu-list {
    .item {
        -moz-box-shadow: -1px 3px 10px 0 rgba(0, 0, 0, 0.06);
        -webkit-box-shadow: -1px 3px 10px 0 rgba(0, 0, 0, 0.06);
        -o-box-shadow: -1px 3px 10px 0 rgba(0, 0, 0, 0.06);
        box-shadow: -1px 3px 10px 0 rgba(0, 0, 0, 0.06);
        background: #ffffff;
        .thumb {
            position: relative;
           img {
            width: 342px;
            height: 280px;
            clip-path: polygon(0 85%, 0 0, 100% 0, 100% 85%, 50% 100%);
           }
           .price {
               color: $color-white;
               background: $color-alizarin;
                width: 100px;
                height: 30px;
                border-radius: 20px;
                padding: 2px 0px 0px 0px;
                position: absolute;
                top: 26px;
                left: 240px;

           }
        }
        
        .info {
            padding: 30px;
            h4 a{
                text-decoration: none;
                color: $color-black-primary;
                font-size: 18px;
                font-weight: 600;
                transition: all 1s ease-in-out;
                margin-bottom: 18px;
                display: block;
                &:hover {
                    color: $color-black;
                }
            }
            span {
                margin-bottom: 18px;
                display: block;
                font-weight: 400;
            }
            p {
                color: $color-dim-gray;
                line-height: 26px;
                font-weight: 400;
            }
            .button {
                border-top: 1px solid $color-gainsboro;
                margin-top: 15px;
                padding-top: 15px;
                display: block;
                a {
                    color: $color-alizarin;
                    text-decoration: none;
                    font-weight: 600;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                }
                
            }
        }
    }
}