/* Css for Navigation  */
.navigation-area {
    border-bottom: 1px solid $color-black-primary;
    .navbar {
        &.bg-light {
            background-color: transparent !important;
        }
        .navbar-brand {

        }
        .navbar-collapse {

        }
        .navbar-nav {
            .nav-item {
               .nav-link {
                font-weight: 600;
                padding: 30px 6px 20px 18px;
                text-transform: uppercase;
                font-size: 13px;
                letter-spacing: 1.2px;
                color: $color-white;
               }
            }
        }
    }
}